.payment-holder {
    margin: auto;
    text-align: center;
}

#currency-selector .d-inline {
    text-align: left;
}

.d-inline {
    display: inline-block;
}

#title-payment {
    height: 35px;
}

#content-bank-transfer .transfer-list {
    text-align: left;
    margin-left: 40%;
}

#content-cheque .address-list {
    text-align: left;
    margin-left: 35%;
}

.payment-holder h6, p, h3, h2, label {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
}

 /*Primary Button Rounded*/
.payment-holder button {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615; /* 28px */
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 20px;
    white-space: nowrap;
    box-sizing: border-box;
    width: 40%;
    color: #fff;
    /* Teal */
    background: #00857E;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    outline: none;
}

.payment-holder #title-payment {
    max-height: 40px;
    min-height: 40px;
}

.payment-holder button:hover {
    text-decoration: underline;
}

.payment-holder .next-giftaid {
    width: 20%;
}

.payment-holder #next-button {
    width: 100%;
}

.payment-holder #gb-pounds-provider-selector button {
    background: #F4F4F4;
    color: #000;
}

.payment-holder #gb-pounds-provider-selector button:focus {
    background: #00857E;
    color: #fff;
}

/*.payment-holder .button-primary.focus,*/
/*.payment-holder .button-primary:focus {*/
/*    box-shadow:*/
/*            0 0 0 1px #fff,*/
/*            0 0 0 3px #007cba;*/
/*}*/

/*.payment-holder .button-primary.active,*/
/*.payment-holder .button-primary.active:hover,*/
/*.payment-holder .button-primary.active:focus,*/
/*.payment-holder .button-primary:active {*/
/*    background: #00669b;*/
/*    border-color: #00669b;*/
/*    box-shadow: none;*/
/*    color: #fff;*/
/*}*/
